body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

body {
  background-color: #000;
}

.download {
  padding-top: 28px;
}

h1 a {
  text-transform: uppercase;
  font-size: 18px;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.btn-default:hover {
  background-color: #f5f6f6;
}

.video-feature {
  display: block;
}

.video-background {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-image: image-url("https://s3-us-west-2.amazonaws.com/glassgang/video-still.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-background video {
  display: inline-block;
  width: 100%;
}

.ui-video-background-controls {
  display: none;
}
