body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-transform: uppercase;
}

body {
  background-color: #000;
}

.download {
  padding-top: 28px;
}

h1 a {
  text-transform: uppercase;
  font-size: 18px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-default:hover {
  background-color: #f5f6f6;
}

.video-feature {
  display: block;
}

.video-background {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: 0 !important;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
  z-index: 0;
}

.video-background video {
  display: inline-block;
  width: 100%;
  height: auto;
}

.ui-video-background-controls {
  display: none;
}

.download {
  text-transform: uppercase;
}

.footer {
  color: #fff;
  padding-top: 46px;
  padding-bottom: 210px;
  border-top: 1px solid #fff;
}

ol {
  text-transform: uppercase;
}

.band {
  padding-top: 7em;
  padding-bottom: 3em;
}

.title {
  padding-bottom: 13.5em;
}

.download {
  padding-top: 0;
}

.download h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.download h3 a {
  width: 100%;
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.download h3 a:hover {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  color: #000;
}

.side-one {
  padding-top: 9em;
}

.side-two {
  padding-top: 8em;
  padding-bottom: 14em;
}
